<h1>Welcome to my CRM</h1>

<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/contacts">Add a contact</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
</nav>

<section>
  <div class="total_contacts">
    <p>There are <strong><%= Contact.all.length %></strong> contacts</p>
  </div>

  <ul>
    <% @contacts.each do |contact| %>
      <li class="contact"><%= contact.first_name %>  <%= contact.last_name %> (<%= contact.email %>)</li>
    <% end %>
  </ul>
</section>
