* {
  box-sizing: border-box;
}

body {
  width: 85vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0px;
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #fff;
  background: #323232;
  font-weight: bold;
  text-align: center;
  vertical-align: baseline;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
  margin-bottom: 5px;
}

ul {
  margin: 0px;
  padding: 0px;

  li {
    list-style: none;
    color: #fff;
    background-color: #e4e4e4;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
  }
}

a {
  font-size: 1.2em;
  text-decoration: none;
  display: inline-block;
}

p {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

img {
  display: block;
  margin: 0 auto;
}

.contact-info {
  display: block;
  font-weight: normal;
  width: 100%;
  color: #000;
  text-align: left;
  margin-left: 50px;
}

.actions {
  text-align: left;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 50px;
  color: #1098F7;
}

.links {
  margin: 30px;
}

.actions a,
.actions button,
.home_link,
.add_contact_link,
.create_button,
.save_button,
.cancel_button {
  font-size: 1em;
  background-color: transparent;
  border: 2px solid #9068BE;
  padding: 10px 15px;
  color: #323232;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  text-decoration: none;
}

.actions:hover,
.actions button:hover,
.home_link:hover,
.add_contact_link:hover,
.save_button:hover,
.cancel_button:hover,
.create_button {
  cursor: pointer;
}

.contact {
  background-color: #6ED3CF;
  color: #000;
  margin: 10px;
}

.total_contacts {
  background-color: #F8937E;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin: 10px;
}

.about {
  font-size: 1.3em;
  margin-left: 50px;
}

.new, .edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 18px;
  color: #9068BE;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

input, textarea, .select_search {
  width: 100%;
  margin-top: 12px;
  padding: 20px;
  font-size: 16px;
  border: solid 2px #6ED3CF;
}

.select_search {
  /*box-sizing: content-box;*/
  /*height: 60px;*/
  -webkit-appearance: none;
 -webkit-border-radius: 0px;
}

textarea {
  margin-bottom: 30px;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.new_actions {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}
