body {
  width: 85vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0px;
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #fff;
  background: #323232;
  font-weight: bold;
  text-align: center;
  vertical-align: baseline;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
  margin-bottom: 5px;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style: none;
  color: #fff;
  background-color: #e4e4e4;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
}

a {
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
}

.home_link {
  color: red;
}

.contact-info {
  display: block;
  font-weight: normal;
  width: 100%;
  color: #000;
  text-align: left;
  margin-left: 50px;
}

.actions {
  text-align: left;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 50px;
  color: blue;
}

.actions a {
  font-size: 1em;
  color: blue;
}

.contact {
  background-color: #6ED3CF;
  color: #000;
  margin: 10px;
}

.total_contacts {
  background-color: #F8937E;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin: 10px;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}
